body {
    background-color: #282c34;
}

.Cards {
    background-color: whitesmoke;
    border-radius: 10px;
    color: hsl(220, 13%, 18%);
    padding: 30px;
    font-size: 16px;
    margin: 0 auto;
    width: 350px;
    text-align: center;
}

.ButtonWrapper {
    padding: 10px;
    text-align: center;
}
.GeneralButton {
    margin : 8px;
}
.b {
    font-weight: lighter;
}
.Wrapper {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
